* {
    padding: 0;
    margin: 0;
}


body{
    background: linear-gradient(to bottom right,#FFD4B2,#86C8BC)
}


#carouselExampleControls{
    max-width: 100%;
    max-height: 100%;
}

.carousel{
        margin: auto;
        width: 100%;
        padding-bottom: 0.5rem;
        padding: 25px;
        padding-left: 30px;
        
}

.carousel-item{
    height: 50%;
    border-radius: 10px;
}


.card{
    display: flex;
}